* {
    box-sizing: border-box;
}

body{
    background: #1A1E23;
    color: rgb(0, 0, 0);
}

.row {
    display: flex;
    margin-bottom: 10px;
    margin-top: 25px;
}

.marginTop{
    margin-top: 40px;
}
.column{
    flex: 33.33%;
}
.column .left, .column .right{
    flex: 25%;
}
.column .middle{
    flex: 50%;
}


.row:after {
    content: "";
    display: table;
    clear: both;
}

.pokemon{
    width: 540px;
    height: 800px;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;   
    border-radius: 5%;  
}



.pokeName{
    height:  50px;
}

.hp{
    height: 40px;
}

.sprite, .informations{
   text-align: center;
}

img{
    height: 300px;
}


h1{
    font-size: 55px;
}

h2{
    font-size: 30px;
    height: 18px;
}

h3{
    font-size: 18px;
}

form{
    height: 50px;
    width: 400px;
    margin: 0 auto;
    box-sizing: border-box;
}

input[type=text], button[type = button]{
    font-size: 20px;
    height: 50px;
    width:300px;
}

.buttons{
   display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.like{
    margin-bottom: 40px;
}


.searchBar{
    margin: 0 auto;
    display: flex;
    margin-bottom: 20px;
}


.additionalInfo{
    margin-top: 90px;
    background-color: rgb(46, 46, 46);
    color: rgb(197, 197, 197);
    text-align: center;
    height: 760px;
    width: 500px;
    border-radius: 5%;
    padding: 10px;
}

.otherInfo{
  margin-top: 40px;
  margin-left: 130px;
  background-color: rgb(46, 46, 46);
  color: rgb(197, 197, 197);
  text-align: center;
  height: 760px;
  width: 500px;
  border-radius: 5%;
  padding: 10px;
}



.notify{  
  position:absolute;
  left: 0;
  top:0px;
  width:100%;
  height:0;  
  box-sizing:border-box;
  color:white;  
  text-align:center;
  background:rgb(255, 0, 0);
  overflow:hidden;
  box-sizing:border-box;
  transition:height .2s;
}

#notifyType:before{
  display:block;
  margin-top:15px; 
}

.active{  
  height:50px;
}


.failure:before{
  Content:"We couldn't find the pokemon. :(";
}




.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: rgb(46, 46, 46);
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );

  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}